* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container-water {
    display: flex;
    margin-top: 10rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    gap: 3em;
}

.info-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
    max-width: 400px;
}

.info-form h2{
    font-size: 1.2em;
    font-family: sans-serif;
    color: #3b3e8c;
    margin-top: .7em;
}

.info-form label{
    font-size: 1em;
    font-family: sans-serif;
    color: #777777;
    margin-bottom: 2em;
}

.info-form input{
    width: 4em;
    height: 2em;
    padding: 5px;
}

.calc-btn {
    background-color: #fff;
    border: 1px solid #3b3e8c;
    border-radius: 10px;
    height: 3em;
    width: 25em;
    color: #3b3e8c;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1em;
    right:5rem;
    margin: 0 auto;
}

.calc-btn:hover {
    background-color: #3b3e8c;
    color: #fff;
}

#resWater {
    font-size: 2em;
    font-family: sans-serif;
    text-align: center;
    color: white;  
}


#resultCups, #resultBottles{
    font-size: 1em;
    font-family: sans-serif;
    text-align: center;
    color: white;
    max-width: 100px;
} 

.resultContainer {
    line-height: 2em;
    /* border-radius: 10px; */
    padding-top: 1em;
} 

.resultContainer h2, small {
    color: #fff;
    
}

#btn-clear {
    background-color: #57b2de;
    border: 1px solid #3b3e8c;
    border-radius: 10px;
    height: 3em;
    width: 25em;
    color: #3b3e8c;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1em;
}

#btn-clear:hover {
    background-color: #3b3e8c;
    color: #fff;
}

#div{
    display: none;
    background-color: #57b2de;  
    text-align: center;
    height: 50vh;
    width: 53vh;
    line-height: 2em;
    border-radius: 10px;
    padding-top: 3em;
}

.results-cups {
    display: flex;
    justify-content: space-around;
    padding-bottom: 3rem;
}

.images img {
    height: 50px;
    
}

.images {
    display: flex;
    justify-content: space-around;
}

